.logo {
    display: inline-block;
    font-style: normal;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--accent-color);
}
.logo_mod {
    margin-right: 93px;
}
.logo_footer {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}
.logo-header {
    color: var(--logo-dark-color);
}
.logo-white {
    color: var(--primary-color);
}