@mixin textstyle {
    font-family: 'Roboto';
    font-style: normal;
    letter-spacing: 0.03em;
}
.title {
    @include textstyle;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-text-color);
}
.subtitle {
    @include textstyle;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-color);
}
.subtitle_footer {
    text-align: center;
}
.subtitle_features {
    margin-bottom: 10px;
    color: var(--title-text-color);
}
.subtitle_features-text {
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.71;
    color: var(--text-color);
    text-transform: none;
}